button,
.Button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s ease-in-out 0.1s;
}
button:hover,
.Button:hover {
  border-color: #666;
}
button:focus,
button:focus-visible,
.Button:focus,
.Button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:active {
  outline-color: #242424;
}

a {
  text-decoration: inherit;
}

@media (prefers-color-scheme: light) {
  button,
  .Button {
    background-color: #6f6f6f;
    color: #f9f9f9;
  }
  button:hover,
  .Button:hover {
    border-color: #999;
    font-weight: 600;
    background-color: #9f9f9f;
  }
  .Button:disabled {
    background-color: #9f9f9f !important;
    color: #f9f9f9;
  }
}
